@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Ephesis&display=swap');

*{   
    
    text-decoration       : none !important;
    list-style            : none !important;
    text-transform        : capitalize !important;
}
/*   Header navbar content */
.get{
    text-decoration       : none !important;
    list-style            : none !important;
    color                 : black;
}

.navbar ul li a{
    color                : black !important;
}

.main{
      background-image     : url(single-tour/mountain.jpg);
      min-height           : 80vh;
      background-position  : center;
      background-repeat    : no-repeat;
      background-size      : cover;
}

/*   Accordion container   */
.fill {
    padding                : 0%;
    height                 : 200px;
}
.fill img {
    height                  : 200px;
    padding                : 2px;
    background-color       : rgb(103, 226, 248);
}


/*  footer  */
.footer{
    background-color      : rgb(214, 214, 214);
}

.footer--content{
    display              : flex;
    justify-content      : space-between;
}

.footer--item p{
        font-size       : 13px;
        font-weight     : 500;
        padding         : 15px 0;
}

.footer--item ul{
    padding            : 0 10px;
    
}

.footer--item h4{
    font-weight     : 800;
    font-size       : 18px;
    margin-bottom   : 20px;
    padding-left    : 15px;
}

.footer--item h5 {
    font-weight    : 700;
    font-size      : 15px;
    padding        : 10px 0;
}

.icons{
    font-size     : 20px;
    padding       : 0 10px;
}

.icons i:hover{
    transform      : scale(1.5);
    color          : rgb(89, 237, 222);
    text-shadow    : 2px 2px 2px black;
    padding        : 5px;
}

.footer--item ul h5:hover{
    transform      : scale(1.5);
    color          : rgb(89, 237, 222);
    text-shadow    : 2px 2px 2px black;
}

@media only screen and (max-width: 768px){

    /*  footer  */
    .footer--content{
        flex-direction    : column;
        width             : 100%;
        text-align        : center;
    
    }
}